body {
    background-size: cover;
    background-repeat: no-repeat;
}

.info-container {
    position: fixed;
    top: 0;
    right: 10%;
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.p1-container,
.p2-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

.p1-cell,
.p2-cell {
    border: 2px solid rgba(230, 220, 220, 0.6);
    width: 45px;
    height: 40px;
}

.ship {
    background-color: darkslategray
}

/* .hidden-ship {
    background-color: yellow;
} */

.hit-ship {
    background-color: red;
}

.hit-missed {
    background-color: #8aeb52;
}

.display-wrap > * {
    margin-left: 45%;
}

.tagDisplay {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.start {
    font-size: 14px;
    margin-left: 25%;
    height: 30px;
    width: 50%;
}