* {
    
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.p1-container,
.p2-container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

.p1-cell,
.p2-cell {
    border: 2px solid gray;
    width: 45px;
    height: 40px;
}

.ship {
    background-color: aqua;
}

.hidden-ship {
    background-color: yellow;
}

.hit-ship {
    background-color: red;
}

.hit-missed {
    background-color: rgb(138, 235, 82);
}